/*main style*/
main{
  position: relative;
  padding-top: 10%;
  background-color: black;
  height: 80%;
  width: 100%;
  min-height: 550px;
  max-height: 650px;
}

.video-background{
  left: 0;
  top: 0%;
  position: absolute;
  z-index: 0;
  min-width: 100%;
  height: 100%;
}

main::after{
  content: "";
  top: 0%;
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: .6;
  width: 100%;
  height: 100%;
}

.main-list{
  z-index: 2;
  font-family: Roboto, sans-serif;
  color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

h1{
  position: relative;
  font-family: RobotoBlack, sans-serif;
  letter-spacing: .3em;
  padding: 1.5% 1.7em 2% 2em;
  font-size: 7em;
  border: 4px solid white;
  border-bottom: none;
  text-align: center;
  display: inline-block;
  height: 15%;
}

h1::after{
  content: "";
  position: absolute;
  background-color: white;
  height: 4px;
  width: 100px;
  top: 100%;
  right: -4px;
}

h1::before{
  content: "";
  position: absolute;
  background-color: white;
  height: 4px;
  width: 100px;
  top: 100%;
  left: -4px;
}

h2{
  letter-spacing: .2em;
  font-size: 2.5em;
  margin-top: -12px;
  font-family: RobotoThin, sans-serif;
}

h2 strong{
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

h3{
  margin-top: 3%;
  letter-spacing: .2em;
  font-size: 2.8em;
  font-family: RobotoThin, sans-serif;
}

h3 strong{
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.button-postuler{
    margin-top: 4%;
}

.button-postuler a{
  position: relative;
  letter-spacing: .2em;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  padding: 10px 40px 10px 40px;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  left: 0;
  width: 20%;
  color: white;
  border-bottom: none !important;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-postuler a::before{
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100%;
  top: 99%;
  left: -2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-postuler a::after{
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 100px;
  top: 99%;
  right: -2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button-postuler a:hover::before, .button-postuler a:hover::after{
  width: 25% !important;
  /* border-bottom: none !important; */
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/*presentation style*/
section{
  z-index: 100;
  opacity: 0;
  position: relative;
  margin-top: 5%;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  /* min-height: 400px; */
}

section:hover{
  transform: scale(1.02);
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.appear{
  opacity: 1 !important;
  display: block !important;
  margin-top: 0%!important;
  position: relative;
  left: 0;
  height: 40rem;
  width: 100%;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.appear-left{
  position: relative;
  right: 0 !important;
  height: 40rem;
  width: 100%;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.txt-div{
  z-index: 2;
  position: absolute;
  left: 0;
  min-height: 400px;
  max-height: 500px;
  height: 50%;
  width: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5% 2% 5% 2%;
  overflow: hidden;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.img-div{
    position: absolute;
    box-sizing: content-box;
    right: 0;
    height: 100%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.div-list-presentation{
    display: flex;
    justify-content: flex-start;
}

.div-one-presentation{
  background-image: url("../img/presentation-background1.jpeg");
}

.div-one-presentation::after, .div-one-bars::after{
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: .4;
  left: 0;
  top: 0;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.right-list{
  position: absolute;
  z-index: 10;
  text-align: right;
  color: white;
}

.left-list{
  position: absolute;
  z-index: 10;
  text-align: left;
  color: white;
}

h4{
  font-family: RobotoLight, sans-serif;
  letter-spacing: .2em;
  font-size: 4em;
  margin-right: 2%;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.txt-list > li > p{
  margin-top: 4%;
  text-align: right;
  margin-right: 2%;
  right: 0;
  width: 70%;
  margin-left: auto;
  left: auto;
  font-size: 1.7em;
  font-family: Roboto, sans-serif;
}

.right-list > li > p{
  text-align: right;
}

.txt-list > li > a{
  border: 2px solid white;
  color: white;
  padding: 10px 25px 10px 25px;
  margin-top: 5%;
  margin-right: 2%;
  font-size: 1.2em;
  font-family: Roboto, sans-serif;
}

.btn-presentation{
  margin-top: 4%;
}

.div-two-presentation{
  background-image: url("../img/presentation-background2.png");
}

.presentation-img{
  margin-top: 15%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/* artistes style */
.artistes{
  position: relative;
  height: 40rem;
  width: 100%;
}

.div-one-artiste{
  background-image: url("../img/background-artiste.png");
  left: 0 !important;
}

.div-two-artiste{
  background-image: url("../img/background-artiste2.png");
  right: 0 !important;
  left: auto !important;
}

.div-two-artiste::after, .div-two-sponsors::after{
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: .6;
  left: 0;
  top: 0;
}

.left-list > li > p{
  text-align: left;
  margin-left: 0 !important;
}

/* bars style*/
.div-one-bars{
  background-image: url("../img/background-bars1.png");
}

.div-two-bars{
  background-image: url("../img/background-bars2.png");
}

/* sponsors style*/
.div-one-sponsors{
  background-image: url("../img/background-sponsors1.jpeg");
  left: 0 !important;
}

.div-two-sponsors{
  background-image: url("../img/background-sponsors2.jpeg");
  right: 0 !important;
  left: auto !important;
}
